.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    height: 10%;
    width: max(8% ,80px);
}

.navbar .profile{
    width: 45px;
}